html, 
body {
    height: 100vh;
    font-family: 'Nunito', sans-serif;
}

.nav-collapse {
    height: 100%;
    background-color: #ffd126;
    position: absolute;
    width: 100%;
    z-index: 99;
    display: none;
}

.socials {
    position: absolute;
    z-index: 9999;
    top: 100px;
    left: 24px;
}

.socials > li > a > img {
    width: 40px;
}

.socials > li > .nav-link {
    padding: .3rem 0!important;
}

.icon-info-text {
    line-height: 1!important;
    margin: 0!important;
    align-self: center;
}

.content-description {
    max-width: 520px;
    margin: auto;
}

@media (max-height: 667px) {
    .content-description {
        overflow-y: auto;
        max-height: 69%!important;
    }
}

@media only screen and (min-width: 768px) {
    .content-description {
        overflow-y: auto;
        max-height: 100%!important;
    }
}

@media only screen and (max-width: 990px) {
    .content-description {
        overflow-y: auto;
        max-height: 540px;
    }

    .nav-collapse {
        display: block;
    }

    .socials {
        position: relative;
        width: 259px;
        justify-content: space-between;
        flex-direction: row!important;
        top: 0;
    }

    .social-web {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .icon-info-container {
        flex-direction: column;
    }

    .icon-info-container > .w-50 {
        width: 100%!important;
    }
}

@media only screen and (max-width: 624px) {
    .big-fifty-bg {
        background-position: bottom right!important;
    }

    .giver-bg {
        background-position: bottom left!important;
    }

    .sales-bg {
        background-position: bottom center!important;
    }

    .online-presence-bg {
        background-position: bottom left!important;
    }
}

@media (max-width: 414px) {
    .big-fifty-bg, .giver-bg, .sales-bg, .online-presence-bg {
        background-size: 516px!important;
    }
}

@media (max-width: 360px) {
    .subtitle{
        font-size: 21px!important;
        padding: 12px 0!important;
    }

    .business-solution-subscribe {
        margin-top: 24px!important;
    }
}

@media (max-width: 547px) {
    .qoute:before, .qoute:after {
        width: 30px!important;
        height: 30px!important;
        background-size: 30px 30px!important;
    }
}

@media (max-height: 768px) {
    .bg {
        background-size: 530px!important;
    }
}

@media (max-width: 1280px) {
    .bg {
        background-size: 55%!important;
    }
}

@media only screen and (max-width: 1320px) {
    .col-left {
        padding-left: 5em!important;
    }
}

.qoute {
    position: relative;
    margin: auto;
    max-width: 450px;
    padding: 29px 0;
    border: 1px solid;
    text-align: center;
}

.qoute:before {
    background-color: #fff;
    top: 5px;
    left: -26px;
    background-image: url(../images/qoute-start.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px;
    height: 50px;
    content: '';
    position: absolute;
}

.qoute:after {
    background-image: url(../images/quote-end.svg);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content: '';
    position: absolute;
    right: -26px;
    background-color: #fff;
}
/* 
.max-width {
    max-width: 450px!important;
} */

.business-solution-banner-signup-card {
    max-width: 450px!important;
}

.business-solution-signup-input {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-radius: 0;
    padding: 0;
}

.business-solution-banner {
    width: 450px;
}

.business-solution-bg {
    background-image: url(../images/business-solution/bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 750px;
}

.big-fifty-bg {
    background-image: url(../images/big-fifty/bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 750px;
}

.giver-bg {
    background-image: url(../images/giver/bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 750px;
}

.sales-bg {
    background-image: url(../images/sales/bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 750px;
}

.online-presence-bg {
    background-image: url(../images/online-presence/bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 750px;
}

.fs-21 {
    font-size: 21px;
}

.fs-26 {
    font-size: 26px;
}

.fw-600 {
    font-weight: 600;
}

.fw-900 {
    font-weight: 900;
}