<div class="swiper-slide big-fifty-bg bg" data-hash="big-fifty">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-6 my-auto px-5">
            </div>
            <div class="col-md-12 col-lg-6 my-auto px-5" id="big-fifty-col">
                <span class="text-center fs-26 fw-600 fw-900">
                    The Big 50
                </span><br/>
                <span>
                    If your priority is moving your product or service at a faster rate<br/>
                    into the market while increasing your ROI, this is the perfect <br/>
                    option for you. You can also retrieve consumer analysis and <br/>
                    monitor your sales, regardless of the size of your business.
                </span>
                <div class="d-flex pt-4 mt-1">
                    <img alt="" src="./public/images/free-dashboard.svg" width="70" class="img-fluid mr-3"/>
                    <p class="icon-info-text">
                        <span class="fw-900">Free Dashboard</span><br/>
                        This will help monitor your sales,<br/> 
                        give you real time reports and much more.
                    </p>
                </div>
                <div class="d-flex pt-4 mt-1">
                    <img alt="" src="./public/images/big-fifty/low-commission.svg" width="70" class="img-fluid mr-3"/>
                    <p class="icon-info-text">
                        <span class="fw-900">Low Commission</span><br/>
                        Taking the lowest commission in the market 
                    </p>
                </div>
                <div class="d-flex pt-4 mt-1">
                    <img alt="" src="./public/images/free.svg" width="70" class="img-fluid mr-3"/>
                    <p class="fw-900 icon-info-text">
                        No upfront costs
                    </p>
                </div>
                <button type="submit" class="btn btn btn-outline-dark d-flex mx-auto mt-5 rounded-pill px-5 font-weight-bold submit-btn-signup" data-toggle="modal" data-target="#exampleModalCenter">Let's Go!</button>
            </div>
        </div>
    </div>
</div>
