<div class="swiper-slide business-solution-bg" data-hash="business-solution">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 col-lg-6 my-auto px-5">
                <div class="d-flex justify-content-center">
                    <img alt="" src="./public/images/business-solution/woohoo.svg" width="370" class="img-fluid"/>
                </div>
                <p class="text-center py-4 fs-26 fw-600 m-0 subtitle">
                    You’re closer to a more <br>
                    <span class="fw-900">Successful Business</span>
                </p>
                <div class="qoute">
                    We provide a smart, diverse way for your business to <br/>
                    sign up, that is tailored to your industry and current <br/>needs.
                </div>
                <button type="submit" id="business-solution-subscribe-button" class="btn btn btn-outline-dark d-flex mx-auto mt-5 rounded-pill px-5 font-weight-bold submit-btn-signup" data-toggle="modal" data-target="#exampleModalCenter">Let's Go!</button>
            </div>
            <div class="col-md-12 col-lg-6 my-auto px-5" id="business-solution-col">
                <div class="card business-solution-banner-signup-card m-auto p-4">
                    <div class="card-body">
                        <h5 class="text-center font-weight-bold">Get in touch with us</h5>
                        <form class="py-4">
                            <div class="form-group">
                                <input type="text" placeholder="Tell us your company name?" class="form-control business-solution-signup-input">
                            </div>
                            <div class="form-group">
                                <select class="form-control business-solution-signup-input" placeholder="Which industry you belong?">
                                    <option>Which industry you belong?</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="email" placeholder="Email Address" class="form-control business-solution-signup-input">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="Mobile Number" class="form-control business-solution-signup-input">
                            </div>
                            <button type="submit" class="btn btn btn-outline-dark d-flex mx-auto mt-5 rounded-pill px-5 font-weight-bold signup-btn" data-toggle="modal" data-target="#exampleModalCenter">Let's Go!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>