<div class="swiper-slide" data-hash="giver-bogo-description" id="giver-bogo-description">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 my-auto px-5 content-description" id="giver-col">
                <span class="text-center fs-26 fw-600 fw-900">
                    5-45% Giver & BOGO
                </span><br/>
                <span>
                    If your priority is quality, loyal and more customers at your doorstep
                    every single day, this is the way to go. Especially if you're a
                    SME, start up company or just a new and upcoming business in
                    the industry.
                </span>
                <div class="d-flex justify-content-between icon-info-container">
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/zero-commission.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">0% Commission</span>
                        </p>
                    </div>
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/free.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Free registration</span>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-between icon-info-container">
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/free-exposure.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Free Exposure</span>
                        </p>
                    </div>
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/free-listing.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Free Listing</span><br/>
                            Mobile Application <br/>& Website
                        </p>
                    </div>
                </div>
                <p class="fs-26 fw-900 pt-4">Get more customer at your doorstep</p>
                <button type="submit" class="btn btn btn-outline-dark d-flex mx-auto mt-5 rounded-pill px-5 font-weight-bold submit-btn-signup" data-toggle="modal" data-target="#exampleModalCenter">Let's Go!</button>
            </div>
        </div>
    </div>
</div>