<div class="swiper-slide" data-hash="guaranted-sales-description" id="guaranted-sales-description">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 my-auto px-5 content-description" id="guaranteed-sales-col">
                <span class="text-center fs-26 fw-600 fw-900">
                    Guaranteed Sales 
                </span><br/>
                <span>
                    If your priority and business growth depends on frequent visits, returning customers, 
                    a customers availing monthly sessions, etc. this is the prefect fit for you. We guarantee 
                    payments and sales of your product/service along with a guaranteed customer regardless of your business size! 
                </span>
                <div class="d-flex justify-content-between icon-info-container">
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/free-listing.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Free Listing & <br/>Marketing</span><br/>
                            Mobile Application & <br/>Website
                        </p>
                    </div>
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/free.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">No Upfront cost</span>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-between icon-info-container">
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/free-dashboard.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Free Dashboard</span><br/>
                            Monitor your sales, <br/>give real time reports, <br/>etc
                        </p>
                    </div>
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/sales/customer-service.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Customer Service</span><br/>
                            For your itreat clients
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-between icon-info-container">
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/sales/payment.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Customer & Payment</span><br/>
                            Guaranteed customer <br/>and payment
                        </p>
                    </div>
                    <div class="d-flex pt-4 mt-1 w-50">
                        <img alt="" src="./public/images/sales/return-of-customer.svg" width="70" class="img-fluid mr-3"/>
                        <p class="icon-info-text">
                            <span class="fw-900">Return of Customers</span><br/>
                            Higher return on customer
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn btn btn-outline-dark d-flex mx-auto mt-5 rounded-pill px-5 font-weight-bold submit-btn-signup" data-toggle="modal" data-target="#exampleModalCenter">Let's Go!</button>
            </div>
        </div>
    </div>
</div>