<div class="swiper-slide online-presence" data-hash="online-presence-description" id="online-presence-description">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-12 my-auto px-5 content-description" id="online-presence-col">
                <span class="text-center fs-26 fw-600 fw-900">
                    Online Presence
                </span><br/>
                <span>
                    If you're a big name brand or even a small to medium sized 
                    business; you want your offers, crazy sales and amazing promotional 
                    campaigns to reach a large number of customers, 
                    along with the right ones. Our platform gives you exactly that!
                </span>
                <div class="d-flex pt-4 mt-1">
                    <img alt="" src="./public/images/free-ad.svg" width="70" class="img-fluid mr-3"/>
                    <p class="icon-info-text">
                        <span class="fw-900">Free Ad Placement</span><br/>
                        Mobile Application & <br/>Website
                    </p>
                </div>
                <div class="d-flex pt-4 mt-1">
                    <img alt="" src="./public/images/free-exposure.svg" width="70" class="img-fluid mr-3"/>
                    <p class="icon-info-text">
                        <span class="fw-900">Free Exposure</span><br/>
                    </p>
                </div>
                <div class="d-flex pt-4 mt-1">
                    <img alt="" src="./public/images/free-dashboard.svg" width="70" class="img-fluid mr-3"/>
                    <p class="icon-info-text">
                        <span class="fw-900">Report & Insight</span><br/>
                        Giving you full report & insight on your campaigns
                    </p>
                </div>
                <button type="submit" class="btn btn btn-outline-dark d-flex mx-auto mt-5 rounded-pill px-5 font-weight-bold submit-btn-signup" data-toggle="modal" data-target="#exampleModalCenter">Let's Go!</button>
            </div>
        </div>
    </div>
</div>